In [2]:
people = {
    "First_Name" : ["Stefan", "Arja", "Marvin"],
    "Last_Name" : ["Raats", "Jadhav", "Martens"]
    }

In [4]:
people['Last_Name']

['Raats', 'Jadhav', 'Martens']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

  First_Name Last_Name
0     Stefan     Raats
1       Arja    Jadhav
2     Marvin   Martens

In [8]:
df['Last_Name']

0      Raats
1     Jadhav
2    Martens
Name: Last_Name, dtype: object

In [9]:
type(df['Last_Name'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df[['Last_Name', 'First_Name']]

  Last_Name First_Name
0     Raats     Stefan
1    Jadhav       Arja
2   Martens     Marvin

In [13]:
type(df[['Last_Name', 'First_Name']])

pandas.core.frame.DataFrame

In [14]:
df.columns

Index(['First_Name', 'Last_Name'], dtype='object')

In [24]:
df.iloc[[0, 1], 1]

0     Raats
1    Jadhav
Name: Last_Name, dtype: object

In [25]:
df.loc[[0, 1], 'Last_Name']

0     Raats
1    Jadhav
Name: Last_Name, dtype: object

In [26]:
people = {
    "First_Name" : ["Stefan", "Arja", "Marvin"],
    "Last_Name" : ["Raats", "Jadhav", "Martens"],
    "ID" : [Alpha, Beta, Charlie]
    }

NameError: name 'Alpha' is not defined

In [27]:
people = {
    "First_Name" : ["Stefan", "Arja", "Marvin"],
    "Last_Name" : ["Raats", "Jadhav", "Martens"],
    "ID" : ['Alpha', 'Beta', 'Charlie']
    }

In [28]:
df

  First_Name Last_Name
0     Stefan     Raats
1       Arja    Jadhav
2     Marvin   Martens

In [29]:
df = pd.DataFrame(people)

In [30]:
df

  First_Name Last_Name       ID
0     Stefan     Raats    Alpha
1       Arja    Jadhav     Beta
2     Marvin   Martens  Charlie

In [36]:
df.set_index('ID', inplace=True)

In [40]:
df

        First_Name Last_Name
ID
Alpha       Stefan     Raats
Beta          Arja    Jadhav
Charlie     Marvin   Martens

In [41]:
df.index

Index(['Alpha', 'Beta', 'Charlie'], dtype='object', name='ID')

In [42]:
df.loc['Alpha']

First_Name    Stefan
Last_Name      Raats
Name: Alpha, dtype: object

In [43]:
df.loc[0]

KeyError: 0

In [44]:
df.iloc[0]

First_Name    Stefan
Last_Name      Raats
Name: Alpha, dtype: object

In [45]:
df.loc['Alpha', 'Last_Name']

'Raats'