In [1]:
people = {
    "FirstName" : ['Stefan', 'Arja', 'Marvin'],
    "LastName" : ['Raats', 'Jadhav', 'Martens'],
    "Cls" : ['Intern', 'Intern', 'Superv']
                  
}

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

  FirstName LastName     Cls
0    Stefan    Raats  Intern
1      Arja   Jadhav  Intern
2    Marvin  Martens  Superv